 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*-----light-font----*/
html{
	height: 100%;
}
body {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:url(../images/bg.jpg) repeat;
	height: 100%;
}
.big-wrapper{
	height: 100%;
    position: relative;
    touch-action: none;
    transition: top 1000ms ease;
}
.wrap {
	width: 80%;
	margin: 0px auto;
	/*padding: 3% 0;*/
}
.header{
	position: relative;
	height: 100%;
}
.log{
  padding-left: 45%;
}
.log :after{

	zoom:1;
	height: 0;
	clear:both;
}
.log li{
	display: inline-block;
	-webkit-zoom: 1;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	margin-left:5px;
}
.log a{
	display: block;
	border-radius: 50%;
}
.log img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.logo{
	display:none;
}


a.button.scroll {
	padding: 16px;
	z-index:99999;
	border: 2px solid #fff;
	position: absolute;
	display:block;
	top: 485px;
	left: 50%;
	border-radius: 30em;
	-webkit-border-radius: 30em;
	-moz-border-radius: 30em;
	-o-border-radius: 30em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a.button.scroll:hover {
	opacity: 0.6;
}
/* header */
.header {
	padding: 0;
	background: rgba(256,256,256,0.5);
	color: #9C7373;
}
.blank{
	width: 100%;
	height: 25px;
}
.bag-img{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../images/bg6.jpg) no-repeat;
    background-size: cover;
    transition: background 0.5s;
   -moz-transition: background 0.5s;	/* Firefox 4 */
   -webkit-transition: background 0.5s;	/* Safari 和 Chrome */
   -o-transition: background 0.5s;	/* Opera */
}

.bag-img li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    display: none;
    opacity: 0;*/
    background: url(../images/bg4.jpg) no-repeat center;
    background-size: cover;
}
.header h3{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: cursive,'Lato', sans-serif;
	padding-top: 65px;
	color: #9C7373;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.header p{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding: 0em 0;
	color: #9C7373;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 6%;
}

/*  GRID OF THREE   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_3{
	display: block;
	float:left;
}
#header > div > div:nth-child(5) {
	margin-right: 0;
}
.col_1_of_3:first-child { margin-left: 0; }
#header > div > div> img {
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#header > div > div> img:hover {
	opacity: 0.6;
}
.span_1_of_3 {
	width: 30.6%;
	text-align: center;
	margin-top: 1%;
	margin-left: 2%;
}
.span_1_of_3 h4 {
	color:#FFF;
}
.span_1_of_3 h4 a {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #9C7373;
	font-size: 1.6em;
	font-weight: 400;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.span_1_of_3 h4 a:hover{
	color:#F8BC3A;
}
.span_1_of_3  p  {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	padding:0.5em 0;
	color: #9C7373;
	/*line-height: 0em;*/
	font-weight: 100;
	font-style: normal;
	margin-bottom: 0;
}

.span_1_of_3 p a {
	padding: 13px 20px;
	color: #E4E4E4;
	font-size: 0.8755em;
	border: 2px solid #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.span_1_of_3 p a:hover {
	color: #F8BC3A;
	border: 2px solid #F8BC3A;
}
/*--- profession-skill --*/
.profession-skill{
	position: relative;
	height: 100%;
	text-align:center;
	background: #EBEBEA;
	/*padding: 7% 0;*/
}
.profession-skill h3{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.profession-skill p{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding: 0em 0;
	color: #777;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 6%;
}
/*---start container --*/
a.popup-with-zoom-anim img {
	
}
.img {
	border: 1px solid #555;
	display: inline-block;
	padding: 10px 13px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.img:hover {
	border: 1px solid #DB5941
}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*---team-members--*/
.demo{
	height: 100%;
	background:rgba(36, 45, 53, 0.33);
}
.demo-members{
	position: relative;
	height: 100%;
	/*padding-top: 7%;*/
	/*background:rgb(247, 235, 218);*/
	
	background:url(../images/bg2.jpg) no-repeat center;
	background-size: cover;
}
.tm-head{
	text-align:center;
}
.tm-head h3{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.tm-head p{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding: 0em 0;
	color: #A0784F;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 3%;
}
.tm-head-grid img{
	width: 80%;
	height: 65%;
	cursor: pointer;
}
.tm-head-grid:hover {
	background:  rgba(226, 206, 206, 0.47);
}
.tm-head-grid {
	width: 30.9%;
	text-align: center;
	float: left;
	margin-right: 3.6%;
	padding: 14px 0;
	background: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.tm-head-grids {
	width: 82%;
	margin: 0 8% 0;
}
.tm-head-grid:nth-child(3){
	margin-right:0;
}
.tm-head-grid h4{
	color: #755714;
	font-size: 1.2em;
	font-weight: 400;
	margin: 0.8em 0 0.2em 0;
}
.tm-head-grid h5{
	color: #7C3939;
	margin: 0 auto;
	font-size: 1em;
}
/*---//demo-members--*/
.top-social-icons {
	width: 30px;
	height: 30px;
}
.tm-head-grid a{
	display: block;
}
.tm-head-grid-a{
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 10px  auto 0;
	background:url(../images/githubRed.jpg) no-repeat center;
	background-size: cover;
}

/*--------social simptip--------*/
[data-tooltip] {
	position: relative;
	display: inline-block;
}
[data-tooltip].simptip-position-bottom:before {
	border-bottom-color: #EEE;
}
[data-tooltip].simptip-position-bottom:after {
	background-color: #EEE;
	color: #777;
}
[data-tooltip]:before {
	content: '';
	position: absolute;
	border-width: 6px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:before, [data-tooltip]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: 999999;
}
[data-tooltip]:after {
	height: 22px;
	padding: 11px 11px 0;
	font-size: 13px;
	line-height: 11px;
	content: attr(data-tooltip);
	white-space: nowrap;
}
[data-tooltip]:hover, [data-tooltip]:focus {
	background-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
	visibility: visible;
	opacity: 1;
}
.simptip-position-bottom.simptip-movable:before {
	margin-top: -15px;
}
.simptip-position-bottom.simptip-movable:after {
	margin-top: -3px;
}
.simptip-position-bottom:before, .simptip-position-bottom:after, .simptip-position-top:before, .simptip-position-top:after {
	left: 32%;
}
.simptip-position-bottom:before, .simptip-position-bottom:after {
	top: 110%;
}
.simptip-position-bottom:after, .simptip-position-top:after {
	margin-left: -18px;
}
.simptip-position-right.simptip-movable:before, .simptip-position-right.simptip-movable:after, .simptip-position-left.simptip-movable:before, .simptip-position-left.simptip-movable:after, .simptip-position-top.simptip-movable:before, .simptip-position-top.simptip-movable:after, .simptip-position-bottom.simptip-movable:before, .simptip-position-bottom.simptip-movable:after {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}
.simptip-position-bottom.simptip-movable:hover:before, .simptip-position-bottom.simptip-movable:hover:after {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
}


/*---blog--*/
.blog{
	height: 100%;
	padding: 7% 0;
	background: #EFEFEE;
}
.blog-head{
	text-align:center;
}
.blog-head h3{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.blog-head p{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding: 0em 0;
	color: #777;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 6%;
}
.blog-grid {
	margin-bottom: 3.2%;
}
.blog-left{
	float: left;
	width: 46%;
	background:#fff;
	padding: 15px;
	 border-radius: 10px;
 	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.blog-right{
	float: right;
	width: 46%;
	background:#fff;
	padding: 15px;
	 border-radius: 10px;
 	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.img-left{
	float: left;
	width: 43%;
}
.img-left a{
display: block;
}
.img-left  img{
	width: 100%;
	cursor:pointer;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.img-left img:hover{
	opacity: 0.5;
}
.text-right {
	float: right;
	width: 52%;
}
.text-right h6{
	font-size: 0.8755em;
	color:#777;
	padding-bottom: 3px;
}
.text-right h3 a{
	font-size: 0.5em;
	color: #303030;
	font-weight: 600;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.text-right h3 a:hover{
	color: #2A80B9;
}
.text-right p{
	font-size: 0.9755em;
	color:#222;
	line-height: 1.8em;
}
.text-right p a {
	font-size: 0.82355em;
	color: #fff;
	float: right;
	padding: 6px 10px;
	margin-top: 6px;
	background: #DB5941;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.text-right p a:hover {
	background: #2A80B9;
}
/*---//blog--*/

/*--- skill ---*/
.skill{
	position: relative;
	/*padding: 5% 0;*/
	height: 100%;
	/*background: rgba(107,187,191,0.3);*/
	/*background:rgba(158, 180, 181, 0.3);*/
	background:#EFEFEE;
	padding:0;
}
.skill-head{
	text-align:center;
}
.skill-head h3{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #9C7373;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.skill-head p{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding: 0em 0;
	color: #568A85;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 11%;
}
#skill > div > h3 {
	color: #fff;
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 3%;
}

/* logos */
.logos{
	position: relative;
	background: #2F2F2F;
	padding:3% 0;
}
.logos ul{
	/*font-size: 0;*/
}
.logos li{
	/*position: relative;*/
	display: inline-block;
	margin-right: 10%;
}
.logos span{
	/*position: absolute;*/
	/*display: inline-block;*/
	/*-webkit-zoom:1;*/
  font-size: 1.5em;
  color: #FFF;
}
.logos li:last-child {
	margin-right: 0%;
	float: right;
}
/* contact */
.contact{
	padding: 7% 0;
	background: #F4BA46;
	text-align:center;
}
.contact h3{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.contact p{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding: 0em 0;
	color: #E4E4E4;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 6%;
}

/* topup */
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 44px;
	height: 44px;
	border: none;
	text-indent: 100%;
	background: url(../images/top_move.png) no-repeat right top;
}

/***** Media Quries *****/
@media only screen and (max-width: 1366px) {
	.wrap{
		width:95%;
	}	
	.log{
  padding-left: 45%;
   }
	.form {
		width: 47%;
	}
	a.button.scroll img{
		padding: 13px;
	}
	.right-msg span {
		margin: -1.2em 0 0 -4.5em;
	}
	a.button.scroll {
		padding: 1px;
	}
}

@media only screen and (max-width: 1280px) {
	.wrap{
		width:95%;
	}	
	.log{
      padding-left: 45%;
    }
	.logos li {
		margin-right: 10%;
	}
	.form {
		width: 51%;
	}
	.bottom-social-icons {
		width: 19%;
	}
	.portfolio img {
		max-width: 92%;
	}
	a.button.scroll {
		padding: 1px;
	}
		.skill-head h3{
		font-size:1em;
	}
	.skill-head p{
		display: none;
	}
}
@media only screen and (max-height: 700px){
	.wrap{
		padding-top: 3;

	}
	.wrap h3{
		padding-top: 0;
		/*height: 100px;*/
	}
	.skill-head{
		height: 120px;
		font-size: 0;
		text-align: center;
		// padding-left: 45%;

	}
	.span_1_of_3 {
    width: 12%;
    text-align: center;
    margin-top: 1%;
    margin-left: 16%;
   }
   .skill-head h3 {
   	font-size: 22px;
   	margin-left: 0;
   }
   .skill-head p {
   	margin-bottom: 2%;
   }
 .skill-grid1 h3 a {
  
    height: 120px;
    line-height: 120px;
    width: 120px;
    border-radius: 50%;
    font-size: 0.8em;
}
   .skill-grid2 h3 a {
 
    height: 120px;
    line-height: 120px;
    width: 120px;
    border-radius: 50%;
    font-size: 0.8em;
}
	.skill-head p{
		display: none;
	}
}
@media only screen and (max-height:600px){
	.skill-head{
		display: none;
	}
	.tm-head{
		display: none;

	}
	.tm-head-grid a img{
		display: none;

	}
	.tm-head-grid {
    width: 18.9%;}
}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
	.log{
     padding-left: 45%;
    }
	a.button.scroll {
		padding: 0px;
		top: 340px;
	}
	.portfolio img {
		max-width: 90%;
	}
	.header h3,.portfoliO h3,.tm-head h3,.ex-head h3,.fun-head h3,.blog-head h3,.studio-head h3,.client-head h3,.skill-head h3,.contact h3 {
		font-size: 1.8em;
	}
	.header p,.portfoliO p,.tm-head p,.ex-head p,.fun-head p,.blog-head p,.studio-head p,.client-head p,.skill-head p,.contact p {
		font-size: 0.8755em;
	}
	.span_1_of_3 h4 a {
		font-size: 1.4em;
	}
	#filters li span {
		font-size: 0.8755em;
	}
	
	.text-right h3 {
		font-size: 1em;
	}
	.text-right p {
		font-size: 0.2em;
		margin-bottom: 0.1em;
	}
	.text-right p a {
		margin-top: -15px;
	}
	.tm-head-grid h4 {
		font-size: 1em;
	}
	.tm-head-grid h5 {
		font-size: 0.82355em;
	}
	iframe {
		height: 250px;
	}
	.logos li {
		margin-right: 0%;
	}
	.logos li:last-child{
		display: none;
	}
	.form {
		width: 63%;
	}
	.bottom-social-icons {
		width: 23%;
	}
	.right-msg span {
		margin: -1.2em 0 0 -5.5em;
	}
	.contact_form input[type="text"], .contact_form textarea {
		padding: 16px 50px 16px 16px;
		width: 89%;
	}
}
@media only screen and (max-width: 768px) {
	.wrap{
		width:95%;
	}	
	.log{
  padding-left: 35%;
}
    .view {
		width: 91%;
	}
	.logo{
		display: block;
		float: right;
		margin: -26px 10px 0 0;
	}
	.h_right{
		width: 100%;
		background: #CC533D;
		margin: 6px 0 10px;
	}
	a.button.scroll {
		left: 47.5%;
	}
	#header > div > div> img {
		width: 80%;
	}
	#filters li {
		margin-right: 5px;
	}
	#filters li span {
		padding: 14px 20px;
	}
	.portfolio img {
		border: 10px solid #fff;
	}
	.portfolio img:hover {
		border: 10px solid #DB5941;
	}
	.tm-head-grid {
		padding-top: 9px;
	}
	.blog-left {
		width: 44%;
	}
	.blog-right {
		width: 45%;
	}
	.tm-head-grids {
		width: 89%;
		margin: 0 5% 0;
	}
	.logos {
		display: none;
	}
	.skill-head h3{
		font-size:1em;
	}
	
}
@media only screen and (max-width: 640px) {
	
	.wrap{
		width:95%;
	}
	.log{
     padding-left: 35%;
    }
	div.header {
		padding: 4.4% 0;
	}
	#header > div > div> img {
		width: 66%;
	}
	.header h3, .portfoliO h3, .tm-head h3, .ex-head h3, .fun-head h3, .blog-head h3, .studio-head h3, .client-head h3, .skill-head h3, .contact h3 {
		font-size: 1.2em;
	}
	.item3{
		display: none;
	}
	.span_1_of_3 h4 a {
		font-size: 1em;
	}
	#filters li span {
		padding: 10px 10px;
	}
	.text_p {
		right: 19%;
	}
	.text-right h3 {
		font-size: 0.82355em;
	}
	.text-right p a {
		margin-top: 2px;
	}
	.blog-left {
		width: 43%;
	}
	.blog-right {
		width: 43%;
	}
	.bottom-social-icons {
		width: 37%;
	}
	.span_1_of_3 p a {
		padding: 8px 13px;
	}
	.img {
		padding: 3px 6px;
		margin-top: 15px;
	}
	a.button.scroll {
		top: 223px;
		left: 47%;
		padding: 0;
	}
}

@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.log{
     padding-left: 30%;
   }
	div.header {
		padding: 6.4% 0;
	}
	a.button.scroll {
		top: 160px;
	}
	.span_1_of_3 {
		width: 100%;
	}
	#header > div > div> img {
		width: 35%;
	    margin-top: 0%;
		padding-bottom: 0%; 
	}
	.wrap .span_1_of_3 p {
		padding: 0.1em 0 0;
		margin: 0;
	}
    #filters {
		display: none;
	}
	#portfoliolist .portfolio {
		width: 48%;
	}
	.tm-head-grid:nth-child(3) {
		display: none;
	}
	.tm-head-grid:nth-child(2) {
		margin-right:0;
		float: right;
	}
	.tm-head-grid {
		width: 48%;
	}
	.text span,.text_p span  {
		font-size: 0.82355em;
	}
	.contact_form input[type="text"], .contact_form textarea {
		padding: 10px 35px 10px 10px;
		width: 81%;
	}
	.form span label {
		top: 8px;
	}
	.blog-left {
		width: 95%;
		float: none;
	}
	.blog-right {
		width: 95%;
		margin-top: 12px;
		float: none;
	}
	iframe {
		height: 120px;
	}
	.skill-grid3 {
		display: none;
	}
	.bottom-social-icons {
		width: 50%;
	}
}
@media only screen and (max-width: 320px) {
	
	.wrap{
		width:95%;
	}
    a.button.scroll {
		top: 146px;
		left: 44%;
	}
	a.button.scroll img {
		padding: 4px;
	}
	div.header {
		padding: 9.4% 0;
	}
	.profession-skill p {
		margin-bottom: -25%;
	}
	.profession-skill img {
		border: 6px solid #fff;
	}
	.profession-skill img:hover {
		border: 6px solid #DB5941;
	}
	.top-social-icons li {
		margin: 1.2em 0em;
	}
	.progress-bar-container {
		width: 77%;
	}
	.text span {
		left: 16%;
	}
	.text_p {
		right: 0%;
	}
	.blog-left {
		width: 90%;
		float: none;
	}
	.blog-right {
		width: 90%;
		float: none;
	}
	.img-left {
		float: none;
		width: 100%;
	}
	.text-right {
		float: none;
		width: 100%;
		margin-top: 10px;
	}
	.nbs-flexisel-inner {
		margin: 0.6em 0 0em;
	}
}
